
@font-face{
    font-family: "web-symbols";
    src: url('../webfonts/WebSymbols-Regular.otf'),
        url('../webfonts/WebSymbols-Regular.eot?#iefix') format('embedded-opentype'); /* IE */
}

/*@import url("//hello.myfonts.net/count/2d31ba");*/

symbol{
    font-family: web-symbols;
    margin: 0 5px;
}

#smltown_html, #smltown_body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;   
    overflow: hidden;
}

#smltown_html{
    background-image: url("../img/background4.jpg");
}

body{
    margin: 0 auto;
    overflow: hidden;
}

#smltown_html{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#smltown_body{
    position: relative;
    left: 0;
    top: 0;
    bottom:0;
    /*text-shadow: 1px 1px 1px rgba(255,255,255,0.4);*/
    box-sizing: border-box;    
    outline: none;

    background: -webkit-radial-gradient(transparent 50%, rgba(0,0,0,0.13) 80%, rgba(0,0,0,0.3));
    background: -o-radial-gradient(transparent 50%, rgba(0,0,0,0.13) 80%, rgba(0,0,0,0.3));
    background: -moz-radial-gradient(transparent 50%, rgba(0,0,0,0.13) 80%, rgba(0,0,0,0.3));
    background: radial-gradient(transparent 50%, rgba(0,0,0,0.13) 80%, rgba(0,0,0,0.3));
}

.smltown_title{
    padding: 10px;
}

.smltown_dialog{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    text-align: center;
}
.smltown_dialog form{    
    width: 90%;
    height: 60%;
    margin: auto;
    margin-top: 5%;
    background-color: rgba(0,0,0,0.7);
    border: 1px solid black;
    padding: 10px;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: 5px 0 20px rgba(0,0,0,0.4),
        -5px 0 20px rgba(0,0,0,0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    5px 0 20px rgba(0,0,0,0.4),
        -5px 0 20px rgba(0,0,0,0.4);  /* Firefox 3.5 - 3.6 */
    box-shadow: 5px 0 20px rgba(0,0,0,0.4),
        -5px 0 20px rgba(0,0,0,0.4);
}
.smltown_dialog input{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.smltown_absolute{
    position: absolute;
    top:0;
    left:0;
}

#smltown_inputName{
    width: 100%;
}

.smltown_error{
    color:red;
}

.smltown_unselect{
    pointer-events: none;
}

.smltown_button, #smltown_html input[type=text], #smltown_html input[type=submit], #smltown_html input[type=button]{ /* not checkbox */
    padding: 0 10px;
    margin: 0;
    height: 50px;
    width: 100%;
    font-size: 14px;    
    -webkit-box-sizing: border-box;  /*Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;     /*Firefox, other Gecko */
    box-sizing: border-box;          /*Opera/IE 8+ */
}
.smltown_button, #smltown_html input{
    background-color: white;
    border: 1px solid grey;
    color: rgb(50,50,50);
}
.smltown_button{
    cursor: pointer;
    text-align: center;
    line-height: 50px;
}
.smltown_button:hover{
    background-color: rgb(225,225,225);
}
.smltown_button:active{
    -webkit-box-shadow: inset 1px 1px 2px rgb(100,100,100);   /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: inset 1px 1px 2px rgb(100,100,100);   /* Firefox 3.5 - 3.6 */
    box-shadow: inset 1px 1px 2px rgb(100,100,100);    
}

.smltown_dialog input, .smltown_dialog .smltown_button{
    margin-bottom:15px;
}
/*android 2.3*/
#smltown_html *{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -webkit-tap-highlight-color: transparent;  /* i.e. Nexus5/Chrome and Kindle Fire HD 7'' */
}
#smltown_html -webkit-scrollbar {
    width: 5px; 
}
#smltown_html -webkit-scrollbar-track {
    background: rgba(0,0,0,0.5);
}

#smltown_html input{
    position:relative;
    top: -10000px;
    -webkit-transform: translate3d(0, 10000px, 0);
    moz-transform: translate3d(0, 10000px, 0);
    transform: translate3d(0, 10000px, 0);
}

/* Overthrow CSS: Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    max-width: 8px;
}
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/ 
    /*border-radius: 10px;*/
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0,0,0,0.15);
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/ 
}
