#smltown_html{
    position: relative;
    overflow: hidden;
}
.smltown_delete{
    font-size: 12px;
    color: red;
}
#smltown_html table{
    border-collapse: collapse;
}

#smltown_connectionCheck{
    display:none; 
    color:rgb(100,100,100); 
    font-size: 12px;
    margin: 10px;
}
#smltown_content{
    height: calc(100% - 45px);
    overflow-y: scroll;
}
#smltown_content p{
    margin: 15px;
}

#smltown_reload{
    position: absolute;
    bottom: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
a{
    color: blue;
    text-decoration: underline;
}
a:hover{
    color: purple;
}
#smltown_games .smltown_button{
    font-weight: bold;
}
#smltown_games > div{
    position: relative;
    margin: 7px;
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
}
.smltown_createGame{
    margin: 7px;
    /*font-weight: bold;*/
}

#smltown_nameGame{
    width:100%;
    padding: 0;
    border: grey solid 1px;
}
#smltown_nameGame input{
    border-width: 0 !important;
}
#smltown_newGame > div{
    line-height: normal;
    max-height: 50px;
    font-size: 14px;
    overflow:hidden;
    padding: 0 10px;
}

.smltown_game{
    background-color: rgba(190,255,0,0.25);
    cursor: pointer;
    position: relative;
    height: 35px;
    padding: 15px;		
    box-shadow: 1px 1px 1px black, inset 0 0 5px white;
    font-size: 80%;
    border: 5px solid rgb(125,200,0);
    border-radius: 20px;
}
.smltown_game:hover{
    box-shadow: -1px -1px 1px white, inset 0 0 5px white;
}
.smltown_game:active{
    box-shadow: inset 2px 2px 5px black;
}
.smltown_game .smltown_name{
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 16px;
}
.smltown_game .smltown_playersCount{
    position: absolute;
    bottom: 10px;
    left: 15px;
}
.smltown_game .smltown_admin{
    position: absolute;
    top: 10px;
    right: 15px;
}
.smltown_gameInfo{
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.smltown_game .symbols{
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.smltown_game small{
    color: rgba(0,0,0,0.5);
    font-weight: normal;
}

.smltown_game.local{
    background-color: rgba(0,0,255,0.3) !important;
    border: 5px solid rgb(0,0,255);
}

/*fixed to prevent scroll on devices*/
#smltown_game{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

#smltown_loadingDiv{
    margin-top: inherit !important;
}
