Order allow,deny
Allow from all

#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^\.]+)$ $1.php [NC,L]

#php_value session.cookie_lifetime 864000
#php_value session.gc_maxlifetime 864000
